<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list.css">
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navigation">
        <div class="nav">
            <div class="logo-container">
                <h2>NinjaUI</h2>
            </div>
            <div class="nav-center">
                <a href="/index.html" class="nav-links"><h4 class="nav-items">Home</h4></a>
                <a href="/components/alert/alert.html" class="nav-links"><h4 class="nav-items">Documentation</h4></a>
                <a href="https://github.com/Himanshu-Dhawale" class="nav-links"><h4 class="nav-items">Github</h4></a>
            </div>
        </div>
    </nav>
     <!-- navbar ended -->

     <!-- sidebar -->

    <div class="sidebar">
        <aside class="sidebar_container">
            <div class="side_list">
                <div class="side_items">
                    <h4 class="side_subtitle">Getting Started</h4>
                    <a href="../installation/installation.html" class="side_link">
                        <span class="side_name">Installation</span>
                    </a>
                    <h4 class="side_subtitle">Components</h4>
                    <a href="../alert/alert.html" class="side_link">
                        <span class="side_name">Alerts</span>
                    </a>
                    <a href="../avatar/avatar.html" class="side_link">
                        <span class="side_name">Avatar</span>
                    </a>
                    <a href="../button/button.html" class="side_link">
                        <span class="side_name">Button</span>
                    </a>
                    <a href="../badge/badge.html" class="side_link ">
                        <span class="side_name">Badge</span>
                    </a>
                    <a href="../card/card.html" class="side_link">
                        <span class="side_name">Card</span>
                    </a>
                    <a href="../image/image.html" class="side_link">
                        <span class="side_name">Image</span>
                    </a>
                    <a href="../input/input.html" class="side_link">
                        <span class="side_name">Input</span>
                    </a>
                    <a href="../navigation/navigation.html" class="side_link">
                        <span class="side_name">Navigation</span>
                    </a>
                    <a href="../rating/rating.html" class="side_link">
                        <span class="side_name">Rating</span>
                    </a>
                    <a href="../slider/slider.html" class="side_link">
                        <span class="side_name">Slider</span>
                    </a>
                    <a href="../text/text.html" class="side_link">
                        <span class="side_name">Text Utilities</span>
                    </a>
                    <a href="../lists/list.html" class="side_link active" >
                        <span class="side_name">Lists</span>
                    </a>
                    </div>
        </aside>
    </div>
    <!-- sidebar ended -->
 <!-- alert component -->

 <div class="container">
    <h2 class="component-name">Lists</h2>
    <p class="component-description">Alert component gives contextual feedback information for common user operations. The alert component is delivered with a bunch of usable and adjustable alert messages.
    </p>
    <div class="container_components">
        <div class="margin-lr-1">
            <ul class="unordered-list-circle">
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </div>
   
        <div class="margin-lr-1">
            <ul class="unordered-list-disc">
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </div>

        <div class="margin-lr-1">
            <ul class="unordered-list-square">
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </div>
    </div>
    <div class="container-code">
        <iframe src="https://www.thiscodeworks.com/embed/625bfa519adddc0015562d69" style="width: 100%; height: 658px;" frameborder="0"></iframe>
    </div>
    <div class="container_components">
        <div class="margin-lr-1">
            <ol>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ol>
        </div>

        <div class="margin-lr-1">
            <ol class="ordered-list-lower-alpha">
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ol>
        </div>

        <div class="margin-lr-1">
            <ol class="ordered-list-lower-roman">
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ol>
        </div>

        <div class="margin-lr-1">
            <ol class="ordered-list-upper-alpha">
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ol>
        </div>

        <div class="margin-lr-1">
            <ol class="ordered-list-upper-roman">
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ol>
        </div>
    </div>
    <div class="container-code">
        <iframe src="https://www.thiscodeworks.com/embed/625bfcc02d709f0015f0789c" style="width: 100%; height: 450px;" frameborder="0"></iframe>
    </div>
    <div class="container_components">
        <div class="stacked">
            <ul>
                <li class="item">Item</li>
                <li class="item">Item</li>
                <li class="item">Item</li>
                <li class="item">Item</li>
            </ul>
        </div>
    </div>
    <div class="container_code">
        <iframe src="https://www.thiscodeworks.com/embed/625bfd3b2d709f0015f0789d" style="width: 100%; height: 164px;" frameborder="0"></iframe>    
    </div>
    </div>
    
 
</div>

<!-- alert component ended -->
</body>
</html>