<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <title>Modal</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navigation">
        <div class="nav">
            <div class="logo-container">
                <h2>NinjaUI</h2>
            </div>
            <div class="nav-center">
                <a href="/index.html" class="nav-links"><h4 class="nav-items">Home</h4></a>
                <a href="/components/alert/alert.html" class="nav-links"><h4 class="nav-items">Documentation</h4></a>
                <a href="https://github.com/Himanshu-Dhawale" class="nav-links"><h4 class="nav-items">Github</h4></a>
            </div>
        </div>
    </nav>
     <!-- navbar ended -->
     
     <!-- sidebar -->

    <div class="sidebar">
        <aside class="sidebar_container">
            <div class="side_list">
                <div class="side_items">
                    <h4 class="side_subtitle">Getting Started</h4>
                    <a href="../installation/installation.html" class="side_link">
                        <span class="side_name">Installation</span>
                    </a>
                    <h4 class="side_subtitle">Components</h4>
                    <a href="../alert/alert.html" class="side_link">
                        <span class="side_name">Alerts</span>
                    </a>
                    <a href="../avatar/avatar.html" class="side_link">
                        <span class="side_name">Avatar</span>
                    </a>
                    <a href="../button/button.html" class="side_link">
                        <span class="side_name">Button</span>
                    </a>
                    <a href="../badge/badge.html" class="side_link ">
                        <span class="side_name">Badge</span>
                    </a>
                    <a href="../card/card.html" class="side_link">
                        <span class="side_name">Card</span>
                    </a>
                    <a href="../image/image.html" class="side_link">
                        <span class="side_name">Image</span>
                    </a>
                    <a href="../input/input.html" class="side_link">
                        <span class="side_name">Input</span>
                    </a>
                    <a href="../navigation/navigation.html" class="side_link">
                        <span class="side_name">Navigation</span>
                    </a>
                    <a href="../rating/rating.html" class="side_link">
                        <span class="side_name">Rating</span>
                    </a>
                    <a href="../slider/slider.html" class="side_link">
                        <span class="side_name">Slider</span>
                    </a>
                    <a href="../modal/modal.html" class="side_link active">
                        <span class="side_name">Modal</span>
                    </a>
                    <a href="../toast/toast.html" class="side_link">
                        <span class="side_name">Toast</span>
                    </a>
                    </div>
        </aside>
    </div>
    <!-- sidebar ended -->
    <div class="container">
        <h2 class="component-name">Modal</h2>
        <p class="component-description">Alert component gives contextual feedback information for common user operations. The alert component is delivered with a bunch of usable and adjustable alert messages.
        </p>
        <div class="container_components">
            <div class="modal-container">
                <h4 class="modal-header">modal header</h4>
                <p class=" quiet modal-subtitle">modal subtitle</p>
                <p class="modal-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit explicabo autem
                    voluptatem accusamus
                    sapiente, repellat aliquid ullam.</p>
                <div class="modal-action-btns">
                    <button class="btn btn-primary-solid action-btn"> Button 1</button>
                    <button class="btn btn-primary-solid action-btn">Button 2</button>
                </div>
                <div class="dismiss absolute"><i class='bx bx-x'></i></div>

            </div>
    </div>
    <div class="container-code">
        <iframe src="https://www.thiscodeworks.com/embed/62a314e2f39b9200156ab5e1" style="width: 100%; height: 216px;" frameborder="0"></iframe>
    </div>
</body>
</html>