@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');
@import url("root.css");

/* header styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    word-wrap: break-word;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem 2rem;
    border-bottom: 1px solid var(--font-color);
}

.nav-center {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-grow: 1;
    gap: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-center h4:hover{
    color: var(--accent-color);
}
.logo-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

.logo-container h2{
 color: var(--accent-color)
}
